body {
  background-image: url(assets/battleship.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
	text-align: center;
}

.button {
  background-color: rgb(65, 8, 0); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
	font-size: 16px;
  margin: auto;
  position: absolute;
  top: 300px;
  left: 45%;
  
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#title {
	background-image: url(assets/metal.jpg);
	background-size: cover;
	width: 350px;
	height: 150px;
	margin: auto;
	text-align: center;
}

#titleText {
  display: inline-block;
	font-size:3vw;
	margin-top: 4vw;
}	

#hit {
  width: 80px;
	height: 50px;
	background: red;
  margin: 1em auto;
  text-align: center;
  border: solid black 1px;
  line-height: 10px;
}

#miss {
  width: 80px;
	height: 50px;
	background: white;
  margin: 1em auto;
  text-align: center;
  border: solid black 1px;
  line-height: 10px;
}

#attacked {
  width: 80px;
	height: 50px;
	background: yellow;
  margin: 1em auto;
  text-align: center;
  border: solid black 1px;
  line-height: 10px;
}

#gridSeparator {
	width: 360px;
	height: 15px;
	background: grey;
	margin: 1em auto;
}

#setupInstructions {
  background-color: black;
  height: 250px;
  width: 300px;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
	font-size: 16px;
  margin: auto;
  position: absolute;
  top: 200px;
  left: 33%;
}

#defendBoardSetup td:hover {
  background-color: black;
}

.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
		border:1px solid #ccc;
		background-color: blue;
    text-align:center;
    font-family:sans-serif; font-size:13px
}

.grid td:hover {
  background-color:yellow;
}

.grid td.clicked {
  background-color:yellow;
}

.grid td.hit {
  background-color:red;
}

.grid td.miss {
  background-color:white;
}