<!DOCTYPE html>
<html>
	<head>
		<title>Battleship</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
     
		<link rel = "stylesheet" type = "text/css" href = "styles.css" />
		
	</head>
	<body>
		
		<div id='title'>
      <h1 id="titleText">BATTLESHIP</h1>
		</div>

  </body>
  
  <script>
    const p1Ships = <%- `${p1Ships}` %>;
    const p2Ships = <%- `${p2Ships}` %>;
  </script>
  <script type='text/javascript' src="createGrid.js"></script>
  <script type='text/javascript' src="battleship.js"></script>
</html>