<!DOCTYPE html>
<html>
	<head>
		<title>Battleship</title>
		<link rel = "stylesheet" type = "text/css" href = "styles.css" />
		
	</head>
	<body>
		
		<div id='title'>
			<h1 id="titleText">BATTLESHIP</h1>
		</div>

  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type='text/javascript' src="createDefendGrid.js"></script>
  <script type='text/javascript' src="setup.js"></script>
		
</html>